.header {
  background-color: $darkroyalblue;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    letter-spacing: $title-letter-spacing;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}
